
<!-- <p>{{ filterfinalspacex | json}}</p> -->
<p>Spacefilterdata</p>
<div class="container-fluid">
  <div class="jumbotron">
<div class="row">
  <!--*ngIf="filterfinalspacex.length-->
  <div class="col-lg-2 col-sm-12 somedataaboutcontent">
    <!------------------All Filters Data Start---------------->
    <div class="row" >
    <div class="col-lg-12 col-sm-12">
      <h5>Filters</h5>
      <form class="header-search-form">
        <input type="text" name="launchyeardatass" placeholder="LaunchYear" [(ngModel)]="allfilterscontet"/>
      </form>
    </div>
      <div class="col-lg-5 col-sm-5 col-md-offset-1" *ngFor='let filtersalldatas of filterall'>
       <button type="button" class="btn btn-sm btn-success">{{filtersalldatas.launch_year }}</button>
      <!--<div class="col-lg-6" *ngFor='let filterdatas of filtersalldatas[0].rocket'>{{filterdatas.rocket_name}}</div>-->
      </div>
  </div>
   <!-----------------------All Filters Data End------------------>
   <!----------------Successful Launch Start --------------------->
   <div class="row">
    <div class="col-lg-12 col-lg-12">
      <form class="header-search-forms">
        <input type="text" name="launchyeardatas" placeholder="SuccessfulLaunch"[(ngModel)]="suceesfulLaunchYeardatas"/>
      </form>
    </div>
      <div class="col-lg-5 col-sm-5 col-md-offset-1" *ngFor='let lunchsuccessdatass of filterfinallunch'>
        <button type="button" class="btn btn-sm btn-success">{{lunchsuccessdatass.launch_success}}</button>
       </div>
  </div>
   <!----------------Successful Launch Start --------------------->
    <!----------------Successful Landing Start --------------------->
    <div class="row">
      <div class="col-lg-12 col-lg-12">
        <form class="header-searchs-form">
          <input type="text" name="launchyeardata" placeholder="SuccessfulLand"[(ngModel)]="suceesfulLandYeardatas"/>
        </form>
      </div>
        <div class="col-lg-5 col-sm-5 col-md-offset-1" *ngFor='let filterlunchandlandss of filterlunchandland'>
          <button type="button" class="btn btn-sm btn-success">{{filterlunchandlandss.launch_success}}</button>
         </div>
    </div>
    <!----------------Successful Landing End(click)="lauchsuccessclick(filterlunchandland)" --------------------->
  </div>
  <!-----------------------Left Filtering Data End-->
  <div class="col-lg-10">
    <div class="row">
          <div class="col-lg-3 col-sm-12 somedataaboutcontents" *ngFor="let xyz of filterfinalspacexres | successland:allfilterscontet:suceesfulLaunchYeardatas" >
            <!-- logo  -->
              <img  class ="logo" [src]="xyz.mission_patch_small" alt="spacedetailsimages"  >
            
            <h6>Launch Year:{{xyz.launch_year}}</h6>
         
            <h6>Successful Launch :{{xyz.launch_success}}</h6>

        
            <h6>Successful Launch Landing:{{xyz.land_success}}</h6>
        
        </div>
    </div>
      <!--------------------------------------------->
      
      </div>
      <!---------------------------------------------------------------->
   
</div>

<!-- <div class="col-lg-6"  *ngFor='let y of x[0]?.rocket'>jhansi{{y.rocket_name}}</div> -->
</div>
</div>